<h2>Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
 <table border="3px" bgcolor="#00FFFF">
    <td>
<div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname%>
    </div>
      <div class="field">

    <%= f.label :lastname %><br>

    <%= f.text_field :lastname %>
</div>

<div class="field">
    <%= f.label :Alternate_Email%><br>

    <%= f.text_field :alternative_email %>
    </div>
      <div class="field">
  
    <%= f.label :monthly %><br>

    <%= f.text_field :monthly %> $ / INR
</div>
<div class="field">
    <%= f.label :Role  %><br>
    <%= f.select(:roleid, Role.all.collect {|u|[u.name, u.id]}, :prompt => 'Select') %>
    </div>
      <div class="field">

    <%= f.label :company %><br>
    <%= f.select(:companyid, Company.all.collect {|u|[u.name, u.id]}, :prompt => 'Select') %>
</div>
    <div class="field">
    <%= f.label :startdate %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.datetime_select :startdate %>
    </div><br>
      <div class="field">
    <%= f.label :enddate %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.datetime_select :enddate %>

    
</div><br>
 <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div><br>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div><br>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div><br>
  <div class="field">

    <%= f.label :image, 'Upload Image' %><br><br>
    <%= f.file_field :image, class: 'photo_upload' %>
    
  </div>
  <div id="target">
    
  </div>



  <div class="actions"><br>
    <%= f.submit "Sign up" %>
  </div>

</td>
</table>

<% end %>

<%= render "devise/shared/links" %>
