<h1>Listing Users</h1>

 
<table border="4pt" style="background-color:powderblue;">
  <tr>
    <th>&nbsp&nbsp&nbsp;First Name&nbsp&nbsp&nbsp;</th>
     <th>&nbsp&nbsp&nbsp;Last Name&nbsp&nbsp&nbsp;</th>
    <th>&nbspUser Company</th>
    <th>User Role</th>
    <th>Alternative Email</th>
    <th>Monthly</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Image</th>
    <th colspan="3">;CRUD;</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.firstname %></td>
      <td><%= user.lastname %></td>
      <% if user.companyid.present? %>
      <td><%= Company.find(user.companyid).name %></td>
      <%else%>
      <%end%>
      <% if user.roleid.present? %>
      <td><%= Role.find(user.roleid).name %></td>
      <%else%>
      <%end%>
      <td><%= user.alternative_email %></td>
      <td><%= user.monthly %></td>
      <td><%= user.startdate %></td>
      <td><%= user.enddate %></td>
   <td><b><i><%= image_tag(current_user.image.url(:thumb).to_s) %></i></b></td>

      


      <td><%= button_to 'Show', user_path(user), :method => "get" %></td>
      <td><%= button_to 'Edit', edit_user_registration_path(user), :method => "get" %></td>
      <td><button onclick="myFunction2()">Delete</button>
<script>
function myFunction2() {
    alert("Hey You Are UnHappy!! Do You Want Delete This Account So You Edit First");
}
</script></td>
    </tr>
  <% end %>
</table>

<button onclick="myFunction()">Add New User</button>
<script>
function myFunction() {
    alert("Do you want add a new user you Sign Out First!");
}
</script><%= button_to 'Back To Home', welcome_index2_path, :method => "get" %>
