<%= form_with scope: :company, url: companies_path, local: true do |form| %>
 
  
<p>
    <%= form.label :name %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;
    <%= form.text_field :name%>
  </p>

  <p>
    <%= form.label :country %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;
    <%= form.text_field :country %>
  </p>

  <p>
    <%= form.label :state %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;
    <%= form.text_field :state %>
  </p>
  <p>
    <%= form.label :city %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;
    <%= form.text_field :city %>
  </p> 
  <p>
    <%= form.label :postalcode %>&nbsp&nbsp;
    <%= form.text_field :postalcode %>
</p>
<p>
    <%= form.label :startdate %>&nbsp&nbsp;&nbsp&nbsp;
    <%= form.text_field :startdate %>&nbsp&nbsp;&nbsp&nbsp;
    <%= check_box_tag "company[Acti]", 'yes', id:"active" %>Active
  </p>
 
   <p>
    <%= form.submit %>&nbsp&nbsp&nbsp&nbsp&nbsp<%= button_to 'Back', companies_path, :method => "get" %>
    <%= button_to 'Go To Index', companies_path, :method => "get" %>
  </p>
<% end %>