<table border="3px">
  <td>
    <h1>New Company</h1>
<%= form_with scope: :company, url: companies_path, local: true do |form| %>

  <p>
    <%= form.label :name %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;
    <%= form.text_field :name%>
  </p>
  <p>
     <%= form.country_select :country %>
  </p>

  <div class="field">
    <!-- State -->
    <%= form.label :state %>
    <%= form.text_field :state %>

  </div>

  <div class="field">
    <!-- City -->
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>
  <p>
    <%= form.label :postalcode %>&nbsp&nbsp;
    <%= form.text_field :postalcode %>
</p>
<p>
    <%= form.label :startdate %>&nbsp&nbsp;&nbsp&nbsp;
    <%= form.datetime_select :startdate %>&nbsp&nbsp;&nbsp&nbsp;
    <%= check_box_tag "company[active]", 'yes', id:"active" %>Active
  </p>
  
  
 
   <p>
    <%= form.submit %>&nbsp&nbsp&nbsp&nbsp&nbsp<%= button_to 'Back', users_path, :method => "get" %><%= button_to 'Go To Index', companies_path, :method => "get" %>
    <%= button_to 'Back To Home', welcome_index2_path, :method => "get" %>

  </p>
<% end %></td>
</table>
