<h2>Your Company Saved Successfully! Thank You!</h2>
<table border="4px">
  <td>
<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>
 
<p>
  <strong>country:</strong>
  <%= @company.country %>
</p>
  <strong>state:</strong>
  <%= @company.state %>
</p>
 
<p>
  <strong>city:</strong>
  <%= @company.city %>
</p>
  <strong>postalcode:</strong>
  <%= @company.postalcode %>
</p>
 
<p>
  <strong>startdate:</strong>
  <%= @company.startdate %>

 </p>
<br>
<br>
</td>
</table>
<%= button_to 'Edit', edit_company_path, :method => "get" %>

<%= button_to 'Back', companies_path, :method => "get" %>

<%= button_to 'Back To Home', welcome_index2_path, :method => "get" %>
