<p>
  <strong>came:</strong>
  <%= @company.name %>
</p>
 
<p>
  <strong>country:</strong>
  <%= @company.country %>
</p>
  <strong>state:</strong>
  <%= @company.state %>
</p>
 
<p>
  <strong>city:</strong>
  <%= @company.city %>
</p>
  <strong>postalcode:</strong>
  <%= @company.postalcode %>
</p>
 
<p>
  <strong>startdate:</strong>
  <%= @company.startdate %>

 
<br>
<br>

<%= button_to 'Edit', edit_company_path, :method => "get" %>

<%= button_to 'Back', companies_path, :method => "get" %>