<h2>Your Company Saved Successfully! Thank You!</h2>
<table border="4px">
  <td>
<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>
 
<p>
  <strong>country:</strong>
  <% if @company.country_id.present? %>
    <%= Country.find(@company.country_id).country_name %>
  <%else%>
  <%end%>
</p>
  <strong>state:</strong>
  <% if @company.state_id.present? %>
    <%= State.find(@company.state_id).state_name %>
  <%else%>
  <%end%>
</p>
 
<p>

  <strong>city:</strong>
  <% if @company.state_id.present? %>
    <%= City.find(@company.city_id).city_name %>
  <%else%>
  <%end%>
</p>
  <strong>postalcode:</strong>
  <%= @company.postalcode %>
</p>
 
<p>
  <strong>startdate:</strong>
  <%= @company.startdate %>

 </p>
 <p>
    <%= image_tag(@company.image.url(:thumb)) %>
 </p>
<br>
<br>
</td>
</table>
<%= button_to 'Edit', edit_company_path, :method => "get" %>

<%= button_to 'Back', companies_path, :method => "get" %>

<%= button_to 'Back To Home', welcome_index2_path, :method => "get" %>
