<table border="3px"><td>
<h1>Add A Role</h1>
<%= form_with scope: :role, url: roles_path, local: true do |form| %>
 <p>
    <%= form.label :roleid %>&nbsp&nbsp&nbsp&nbsp;&nbsp&nbsp&nbsp&nbsp;&nbsp&nbsp;
    <%= form.text_field :roleid%>
    </p>
<p>
    <%= form.label :rolename %>&nbsp&nbsp&nbsp&nbsp;
    <%= form.text_field :rolename %>
  </p>
  <%= form.submit %>
  <% end %>
</td>
</table>