<!DOCTYPE HTML>
<html>
  <head>
    <title>Companies</title>
   
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     

  </head>
  


  <body>
  
    <div id="user_nav">
    <table border="1px" bgcolor="powderblue">
      <tr>
  <b><%  if user_signed_in? %> Signed In as <%= current_user.email %>.Not you?<abbr title="Do you want add a new user you Sign Out First"><%=button_to "Sign out",destroy_user_session_path, :method => :delete %></abbr></b><br><br>
<b>Current User Online*</b>
  <th>First Name:</th>
  <td><b><i><%= current_user.firstname %></i></b></td>
  <th>Last Name:</th>
  <td><b><i><%= current_user.lastname %></i></b></td>
  <th>Company ID:</th>
  <td><b><i><%= current_user.companyid %></i></b></td>
  <th>Role ID:</th>
  <td><b><i><%= current_user.roleid %></i></b></td>
  <th>Alternative Email</th>
  <td><b><i><%= current_user.alternative_email %></i></b></td>
  <th>Start Date:</th>
  <td><b><i><%= current_user.startdate %></i></b></td>
  <th>End Date:</th>
  <td><b><i><%= current_user.enddate %></i></b></td>
  <th>Monthly:</th>
  <td><b><i><%= current_user.monthly %></i></b></td>
  <th>Image:</th>
  <td><b><i><%= image_tag(current_user.image.url(:thumb).to_s) %></i></b></td>

  
 
  </tr>
 </table>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js
"></script>

  <%else%>

    <%=link_to "Sign up",new_user_registration_path %> or <%=link_to "Sign in", new_user_session_path %>

  <%end%>

</div>
    <%= yield %>  
  </body>
</html>

